php_value max_execution_time 300
php_value max_input_time 300

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /FGCClass_WordPress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /FGCClass_WordPress/index.php [L]
</IfModule>

# END WordPress